.element__remove {
  position: absolute;
  border: none;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: url(../../../images/icons/Trash.svg);
  cursor: pointer;
  transition: all var(--standardTransition);
}

.element__remove:hover {
  opacity: 0.6;
}
