.popup-form__fieldset {
  margin: 0;
  padding: 0;
  border: unset;
  margin-top: 75px;
}

@media screen and (min-width: 320px) {
  .popup-form__fieldset {
    margin-top: 75px;
  }
}

@media screen and (min-width: 880px) {
  .popup-form__fieldset {
    margin-top: 50px;
  }
}
