.footer {
}

@media screen and (min-width: 320px) {
  .footer {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 36px;
    max-width: 282px;
  }
}

@media screen and (min-width: 880px) {
  .footer {
    margin: unset;
    margin-top: 66px;
    margin-bottom: 60px;
    max-width: unset;
  }
}
