.element__like {
  border: none;
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/icons/heart.svg);
  transition: all var(--standardTransition);
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  opacity: unset;
  background-image: url(../../../images/icons/heart_active.svg);
}


